

.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  height: 7.3vh;
  display: flex;
  gap: 50px;
  align-items:center;
justify-content: center;
  font-size: calc(8px + 2vmin);
  font-family: Noto Sans Mono;
  font-weight: 900;
  color: white;
  padding: 3px;
}

.title-header {
  display: flex;
  align-items:center;
  gap: 10px;
}

.date-timer {
  font-family: 'Noto Sans Mono', monospace;
  display: flex;
  align-items:center;
  gap: 30px;
}

.calculator-field {
  background-color:aliceblue;
  height: 89vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: black;
}

.App-footer {
  background-color: #282c34;
  height: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 1vmin);
  color: white;
}
